/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
#login-banner {
}
#login-banner .header {
  margin-top: 50px;
}
.btn-flat {
    color: #8a6565;
}
.account-header {
    margin: 20px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    line-height: 0px;
}
html {
    background-color: #1b5e20;
}
.container {
    width: 75%;
}
