<nav class="green darken-3" role="navigation">
  <div class="nav-wrapper container">
    <ul class="right hide-on-med-and-down">
      <li><a href="#">Navbar Link</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <div class="row center account-header">
      <img class="circle  responsive-img" src="{{ site.baseurl }}/dp.jpg" width="70px">
      <h6 class="black-text">JOHN DOE</h6>
      <h6 class="black-text light">09355568644</h6>
      </div>
      <li><div class="divider"></div></li>
      <li><a href="#"><i class="tiny material-icons">work</i>Home</a></li>
      <li><a href="#"><i class="tiny material-icons">navigation</i>Savings</a></li>
      <li><a href="#"><i class="tiny material-icons">person_pin</i>Contacts</a></li>
      <li><a href="/starter-template/"><i class="tiny material-icons">power_settings_new</i>Logout</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>

<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>
