<nav class="green darken-3" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo"></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">Navbar Link</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li class="logo center"><img src="{{ site.baseurl }}/logo.png" height="100px"></li>
      <li><a href="#"><i class="tiny material-icons">work</i>Home</a></li>
      <li><a href="#"><i class="tiny material-icons">navigation</i>Savings</a></li>
      <li><a href="#"><i class="tiny material-icons">person_pin</i>Contacts</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
